.bg{
    background-image: url('https://i.ibb.co/D8N5XXX/istockphoto-108310740-612x612.jpg');
    width: auto;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}